
a{
    display: inline-block;
  position: relative;
  color: black;
}
.navbar li a:hover{
    color: #fff;

}
#active{
    color: #fff;

}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    
  }