<div class="" style="overflow: hidden;">
    <div class="row p-5">

        <div class="col-md-4">
            <p><i class="fa-solid fa-envelope me-2" style="color: #97bf2b;"></i> info@example.com</p>
            <p><i class="fa-solid fa-phone me-2" style="color: #97bf2b;"></i>+91 0000 000000</p>
            <p><i class="fa-solid fa-location-dot me-2" style="color: #97bf2b;"></i>Somewhere in the Word</p>

        </div>

        <div class="sec text-center  col-md-4" >
            <p><a href="" >Home</a></p>
            <p><a href="" >About</a></p>
            <p><a href="" >Products</a></p>
            <p><a href="">Contacts</a></p>

        </div>

        <div class="col-md-4">
            <h6 class="text-center pb-3">Social Profiles</h6>
            <app-social></app-social>
        </div>
    </div>

    <hr>
<p class="text-center ">&copy; 2023. All right reserved</p>
</div>