<div>
    <div class="d-flex justify-content-center align-items-center">
        <span class="border p-2 ms-2 me-4">        
            <i class="fa-brands fa-facebook fs-5" style="color: #97bf2b;"></i>
        </span>
    

        <span class="border p-2 me-4">        
            <i class="fa-brands fa-instagram fs-5" style="color: #97bf2b;"></i>
        </span>

        <span class="border p-2 me-4">        
            <i class="fa-brands fa-linkedin fs-5" style="color: #97bf2b;"></i>
        </span>
    </div>

   
</div>
