<div class="" style="overflow-x: hidden;">

    <!-- home page starts here -->
    <section class="banner ">

        <svg class="waves " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1"
                d="M0,224L120,186.7C240,149,480,75,720,80C960,85,1200,171,1320,213.3L1440,256L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
            </path>

        </svg>


        <hr style=" color: yellow;">

        <div class="content ">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6">
                        <img [src]="image" alt="" class="image  " width="380" height="485">


                    </div>




                    <div class="col-md-6 pt-3">
                        <div class="text-start" id="heading">
                            <h1 class="text-light mt-4 " style="font-size: 50px;">Delight in every</h1>
                            <h1 class="text-light" style="margin-left: 120px; font-size: 50px;">bite with <span
                                    class="text-black">US</span>
                            </h1>
                            <p class=" pt-1" style="width: 530px; line-height: 35px;">{{data}}</p>

                            <button type="button" data-aos="fade-up" class="btn btn-light text-center p-2" id="button"
                                style="position: relative;">Learn More</button>


                        </div>

                        <img src="https://i.postimg.cc/yNZHH9NF/Group-2-2-1.png" class="image2" alt=""
                            style="margin-left: 10%;">
                    </div>

                </div>
            </div>

        </div>




    </section>

    <!-- home page ends here -->


    <!-- box section starts here -->

    <div class="row container pb-2" id="box">

        <div class="col-md-1"></div>

        <div class=" col-md-3 align-items-center ">
            <div data-aos="fade-up" class="card shadow mb-3 p-0 m-0 ms-3  ">
                <div class="row g-0">
                    <div class="profile col-md-3 ">
                        <img src="https://i.postimg.cc/cCQtVwjr/vacuum-fried-jackfruit-500x500.webp"
                            class="border rounded-circle img-fluid mt-1" alt="...">
                    </div>
                    <div class="contents col-md-9 p-0 m-0">
                        <div class="card-body p-1 m-0">
                            <h6 class="card-title p-0 m-0" style="font-size: 14px;">Lorem ipsum dolor</h6>
                            <p class="card-text pt-1 m-0" style="font-size: 10px;"> Ut enim ad minim veniam,quis
                                nostrud>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-md-3 align-items-center ">
            <div data-aos="fade-up" class="card shadow mb-3 p-0 m-0  ">
                <div class="row g-0">
                    <div class="profile col-md-3 ">
                        <img src="https://i.postimg.cc/ZY3wL4rW/box2.jpg" class="border rounded-circle img-fluid mt-1"
                            alt="...">
                    </div>
                    <div class="contents col-md-9 p-0 m-0">
                        <div class="card-body p-1 m-0">
                            <h6 class="card-title p-0 m-0" style="font-size: 14px;">Lorem ipsum dolor</h6>
                            <p class="card-text pt-1 m-0" style="font-size: 10px;"> Ut enim ad minim veniam,quis
                                nostrud>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-3 align-items-center ">
            <div data-aos="fade-up" class="card shadow mb-3 p-0 m-0   ">
                <div class="row g-0">
                    <div class="profile col-md-3 ">
                        <img src="https://i.postimg.cc/TPC9pPMs/box3.jpg" class="border rounded-circle img-fluid mt-1"
                            alt="...">
                    </div>
                    <div class="contents col-md-9 p-0 m-0">
                        <div class="card-body p-1 m-0">
                            <h6 class="card-title p-0 m-0" style="font-size: 14px;">Lorem ipsum dolor</h6>
                            <p class="card-text pt-1 m-0" style="font-size: 10px;"> Ut enim ad minim veniam,quis
                                nostrud>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-2"></div>

    <!-- box setion ends here -->

    <!-- Amemities starts here -->

    <div class="amenities mt-4  text-center p-3">

        <h1 data-aos="fade-right">Amenities</h1>

        <div class="row px-3 py-4" style="margin-left: 5%;">
            <div class="col-md-1"></div>
            <div data-aos="fade-right" class="col-md-3 blobs ">
                <i class="fas fa-shipping-fast " id="icon" style="font-size: 45px;"></i>
                <div class="blob"></div>
                <h5 class="pt-2">Fast Delivery</h5>

            </div>

            <div data-aos="fade-right" class="col-md-3 blobs">
                <i class="fa-solid fa-thumbs-up " id="icon" style="font-size: 45px;"></i>

                <div class="blob"></div>
                <h5 class="text-center pt-2">Good Product</h5>

            </div>

            <div data-aos="fade-right" class="col-md-3 blobs ">
                <i class="fa-solid fa-burger " id="icon" style="font-size: 45px;"></i>
                <div class="blob"></div>
                <h5 class="text-center pt-2">Tasty Products</h5>

            </div>
            <div class="col-md-2"></div>

        </div>



    </div>

    <!-- amenities ends here -->


    <!-- About section starts here -->

    <div id="about" class="mt-5">

        <div data-aos="fade-up" data-aos-duration="3000" class="container text-center">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">

                <div class=" col-md-5">
                    <h2 class="text-start ps-5">About Nutribbles</h2>

                    <img src="https://i.postimg.cc/rssKMFJL/About.png" class="w-75 mt-5" alt="">
                </div>
                <div class=" col-md-7">
                    <p class="para" style="width: 90%; text-align: justify;">Being stuck in a corporate loop, life was
                        mundane and colourless. Our
                        founders Rinu and Dany were looking for ways to break out of it.
                        Thankfully they did not have to go very far. The answer was right in the backyard of their house
                        in
                        a beautiful town in Wayanad, Kerala in the form of a ‘Chakka’ aka Jackfruit on the 50 year old
                        ‘Plaavu’ aka
                        Jackfruit tree. <br>

                        Having heard of the benefits of Jackfruit as part of daily meals, they
                        gathered all the information they could on the possibility and
                        goodness of Jackfruit powder. A training/workshop on behalf of the
                        Panchayat/Government, lots of research on Internet and more
                        homework brought them to the conclusion that ‘Chakka Podi’ or
                        ‘Jackfruit Powder’ could be the solution to their mundane lives. As the
                        next step they identified Jackfruit sources, possible markets, steps to
                        get the license in India and other countries and export methods.</p>

                </div>
            </div>
        </div>


    </div>

    <!-- About section ends here -->


    <!-- Process section starts here -->

    <div class="abt-cards text-center py-4" style="background-color: #fef9eb; height: 100%;">

        <div class="container">
            <h2 data-aos="zoom-in">Our Process</h2>

            <div class="row mt-5" style="padding-left: 15%; padding-right: 10%;">

                <div class="col-md-6 ps-5">
                    <div class=" c1 card my-2 position-relative mb-5" id="processcard"
                        style="max-width: 360px; height: 160px;">
                        <span
                            class="bg-light position-absolute top-0 start-0 translate-middle badge rounded-pill text-bg-secondary"><img
                                src="https://i.postimg.cc/nLZf9PfM/Open-Source.png" alt="" class="w-75"></span>
                        <div class="card-body">
                            <h5 class="card-title">Sources</h5>
                            <p data-aos="zoom-in" class="card-text px-4 " style="text-align: justify; font-size: 13px;">
                                Estates in wayanad which
                                could
                                provide them
                                with bulk produce was their first find. Through
                                the Panchayat they met the Kudumbasree units
                                who helped them source locally and clean and
                                pick the jackfruit to processable stage. </p>

                        </div>
                    </div>
                    <br>

                    <img src="https://i.postimg.cc/X7B6sNty/Line-5.png " class="line1"
                        style="width: 230px; height: 60px; margin-right:-30% ; margin-left: 15%;" alt="">


                    <div class="c2 card my-2 position-relative " id="" style="max-width: 360px; height: 160px; ">
                        <span
                            class="bg-light position-absolute top-0 start-0 translate-middle badge rounded-pill text-bg-secondary"><img
                                src="https://i.postimg.cc/Y9K2MGgg/packing1.png" alt="" class="w-75"></span>
                        <div class="card-body">
                            <h5 class="card-title">Packing</h5>
                            <p data-aos="zoom-in" class="card-text px-4" style="text-align: justify; font-size: 13px;">
                                Next came the processing stage, which was just
                                2 simple steps

                                1. Dehydrating the jackfruit using dryer
                                2. Milling them to the final product
                            </p>

                        </div>
                    </div>
                </div>


                <div class="col-md-6 " id="d3">

                    <div class="backimg"><img src="https://i.postimg.cc/NfktQVHb/jackfruit-removebg-preview.png" alt="">
                    </div>

                    <img src="https://i.postimg.cc/26hQSZtf/Line-4.png" class="line2"
                        style="width: 210px; height: 80px; margin-top: -10%; margin-right:85% ; margin-left: -8%;"
                        alt="">



                    <div class="c3 card my-2 position-relative" id="" style="max-width: 360px; height: 160px;">
                        <span
                            class="bg-light position-absolute top-0 start-0 translate-middle badge rounded-pill text-bg-secondary"><img
                                src="https://i.postimg.cc/4y4gxz3K/settings0.png" alt="" class="w-75"></span>
                        <div class="card-body ">

                            <h5 class="card-title">Processing</h5>
                            <p data-aos="zoom-in" class="card-text px-4" style="text-align: justify; font-size: 13px;">
                                The product was tested
                                in
                                different authorised
                                laboratories for various certifications before
                                packaging to the current format. </p>

                        </div>
                    </div>
                </div>

            </div>








        </div>
    </div>

    <!-- Process section ends here -->

    <!-- products section starts here -->

    <div id="products " class="pb-5">

        <h1 data-aos="fade-up" class="text-start ps-5 py-4">Our Products</h1>


        <div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner  ">



                <div class="card mb-3 carousel-item active shadow" style="max-width: 650px; height: 250px;" id="productcard">
                    <div class="row g-0">
                        <div class="col-md-6" style="width: 50%;">
                            <img src="https://i.postimg.cc/vHJfP6rn/Screenshot-26-removebg-preview.png"
                                class="img-fluid rounded-start d-block w-100" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body py-5">
                                <h3 class="card-title">The Pulled Jackfruit</h3>
                                <p class="card-text">Ut enim ad minim veniam, quis nostrud exerc itation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat...

                                </p>
                                <ul style="list-style-type:square;"
                                    class="d-flex align-items-center justify-content-between">
                                    <li>Organic</li>
                                    <li>Nutrition rich</li>
                                    <li>Nutrition</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="card mb-3 carousel-item active shadow" style="max-width: 650px; height: 250px;">
                    <div class="row g-0">
                        <div class="col-md-6" style="width: 50%;">
                            <img src="https://i.postimg.cc/vHJfP6rn/Screenshot-26-removebg-preview.png"
                                class="img-fluid rounded-start d-block w-100" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body py-5">
                                <h3 class="card-title">The Pulled PineApple</h3>
                                <p class="card-text">Ut enim ad minim veniam, quis nostrud exerc itation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat...

                                </p>
                                <ul style="list-style-type:square;"
                                    class="d-flex align-items-center justify-content-between">
                                    <li>Organic</li>
                                    <li>Nutrition rich</li>
                                    <li>Nutrition</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>




            </div>






            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- products section ends here -->

    <!-- contact page starts here-->

    <div class="contact text-center py-4" id="contacts" style="background-color: #fef9eb; height: 100%;">
        <h2 data-aos="fade-up" class="pb-3">Contact Us</h2>

        <div class="container row d-flex justify-content-center mx-5 ms-5" style="background-color: #fff;">
            <div class="col-lg-7 p-5">
                <app-formmodel></app-formmodel>
                <app-modal></app-modal>
            </div>


            <div class="col-lg-5 mt-5 ps-5" style="float: right;">
                <!-- <div class="vl"></div> -->
                <div class="border ms-5 pt-3 mb-4 mt-2" style="width: 250px; background-color: #f3f3f3;">
                    <span class="border p-2 text-center">
                        <i class="fa-solid fa-envelope fs-5 ms-1" style="color: #97bf2b;"></i>
                    </span>
                    <p class="pt-3">info@example.com</p>

                </div>

                <div class="border pt-3 mb-4 ms-5" style="width: 250px; background-color: #f3f3f3;">
                    <span class="border p-2 text-center">
                        <i class="fa-solid fa-phone fs-5 ms-1" style="color: #97bf2b;"></i>
                    </span>
                    <p class="pt-3">+91 0000 000000</p>

                </div>

                <div class="border pt-3 mb-4 ms-5" style="width: 250px; background-color: #f3f3f3;">
                    <span class="border p-2 text-center">
                        <i class="fa-solid fa-location-dot  fs-5 ms-1" style="color: #97bf2b;"></i>
                    </span>
                    <p class="pt-3">Somewhere in the Word</p>

                </div>
                <div class="me-5">
                    <app-social></app-social>

                </div>
            </div>


        </div>
    </div>

    <!-- contact page ends here-->

</div>